###########################################################################
#                       Tree Problem Git Ignore Configuration             #
###########################################################################

# Ignoring checkpoints saved by Jupyter Notebook
.ipynb_checkpoints/
